{% extends "bh/main.html" %}

{% block actions %}active{% endblock %}

{% block content %}
    <h3>
        {{ action.name }} {% if action.action_type %}({{ action.action_type.name }}){% endif %}
        {% if user.is_superuser %}
            <a href="{% url 'admin:bh_action_change' action.pk %}">Edit</a>
        {% endif %}
    </h3>

    {% if action.description %}
        <p>
            <i>{{ action.description }}</i>
        </p>
    {% endif %}

	<div class="list-group">
		{% for role in action.roles.all %}
			<a class="list-group-item" href="{% url 'bh:person' pk=role.person.pk %}">
                {{ role.person }}
                {% if role.charge %}
                    ({{ role.charge }})
                {% elif role.role %}
                    ({{ role.role }})
                {% endif %}
            </a>
		{% endfor %}
	</div>

    {% if action.periods.count %}
        <div>
            <h4>Время проведения:</h4>
            <ul>
                {% for period in action.periods.all %}
                    <li>{{ period }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if action.address %}<h4>Место: {{ action.address.name }}</h4>{% endif %}

    {% if action.address and action.address.lat and action.address.lng %}
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
        <div id="map" style="width: 600px; height: 400px; border:1px solid #ccc; padding:5px;"></div>
        <script type="text/javascript">
            ymaps.ready(init);
            var myMap;
            function init(){
                myMap = new ymaps.Map("map", {
                    center: [{{ action.address.lat|safe }}, {{ action.address.lng|safe }}],
                    zoom: 12
                });
                myPlacemark = new ymaps.Placemark(
                    [{{ action.address.lat|safe }}, {{ action.address.lng|safe }}],
                    {
                        balloonContentHeader: "{{ action.address.name }}",
                        balloonContentBody: "{{ action.address.description }}"
                    }
                );
                myMap.geoObjects.add(myPlacemark);
                myPlacemark.balloon.open();
            }
        </script>
    {% endif %}

{% endblock %}