{% extends "bh/main.html" %}

{% block head %}
    {% load staticfiles %}
    <link href="{% static 'bh/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
    <script src="{% static 'bh/lightbox/js/lightbox-plus-jquery.min.js' %}"></script>
{% endblock %}

{% block events %}active{% endblock %}

{% block content %}
	<h3>
        {{ event.name }} ({{ event.get_type_display|lower }} событие)
        {% if user.is_superuser %}
            <a href="{% url 'admin:bh_event_change' event.pk %}">Edit</a>
        {% endif %}
    </h3>
	<h4>{{ event.started_at }} - {{ event.finished_at }}</h4>
	<div class="list-group">
		{% for p in event.people.all %}
            <a class="list-group-item" href="{% url 'bh:person' pk=p.pk %}">
                <div class="list-item-num">{{ forloop.counter }}</div>
                {{ p }}
                {% if p.phone.count %}
                    ({% for e in p.phone.all %}{{ e.number }}{% if not forloop.last %}, {% endif %}{% endfor %})
                {% endif %}
            </a>
		{% endfor %}
	</div>

    <div>
        <h4>E-mails:</h4>
        {% for p in event.people.all %}
            {% for e in p.email.all %}
                <a href="mailto:{{ e.address }}">{{ e.address }}</a>
            {% endfor %}
        {% endfor %}
    </div>

    <div>
        <h4>Мобильные телефоны:</h4>
        {% for p in event.people.all %}
            {% for phone in p.phone.all %}
                {% if phone.type == 'cell' %}
                    {{ phone.number }}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>


    {% if event.address %}<h4>Место: {{ event.address.name }}</h4>{% endif %}

	{% if event.address and event.address.lat and event.address.lng %}
		<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
		<div id="map" style="width: 600px; height: 400px; border:1px solid #ccc; padding:5px;"></div>
		<script type="text/javascript">
			ymaps.ready(init);
			var myMap;
			function init(){
				myMap = new ymaps.Map("map", {
					center: [{{ event.address.lat|safe }}, {{ event.address.lng|safe }}],
					zoom: 12
				});
				myPlacemark = new ymaps.Placemark(
					[{{ event.address.lat|safe }}, {{ event.address.lng|safe }}],
					{
						balloonContentHeader: "{{ event.address.name }}",
						balloonContentBody: "{{ event.address.description }}"
					}
				);
				myMap.geoObjects.add(myPlacemark);
				myPlacemark.balloon.open();
			}
		</script>
	{% endif %}

    {% if event.gallery %}
        <div class="gallery">
            <h4>Фотографии события:</h4>
            {% for photo in event.gallery.photos.all %}
                <a class="gallery_link" href="{{ photo.image.url }}" data-lightbox="image-1" data-title="My caption">
                    <img class="img-thumbnail gallery_photo" src="{{ photo.image.url }}" alt="{{ photo.name }}"/>
                </a>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}