.gallery{
    margin-top: 20px;
}

.gallery_link{
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: block;
    float: left;
    margin-right: 5px;
}

.gallery_photo{
    width: 100px;
    height: 100px;
}

.list-item-num{
    display: block;
    float: left;
    margin-right: 15px;
}